#header_container {
    display: grid;
    grid-auto-flow: column;
    height: 50px;
    align-items: center;
    justify-items: start;
    background-color: green;
}

#real_madrid_img {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

#nav_bar {
    justify-self: end;
}

#mountain_section {
    display: grid;
    grid-auto-flow: column;
}

#mountain_img {
    width: 50%;
    height: 50%;
}

#img_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   
}

.same_img {
    width: 500px;
    height: 375px;
}